<form name="nb" action="index.php" method="POST">
	<input type="hidden" name="module" value="Campaigns">
	<input type="hidden" id='action' name="action" value='budgetUpdated'>
	<input type="hidden" id="return_module" name="return_module" value="Campaigns">
	<input type="hidden" id="return_action" name="return_action" value="DetailView">


	<fieldset><legend> Wprowadż tekst do formularza </legend>
		<p><label> Budżet: </label> <input type="text" name="nowy_budget" title="$MOD.LBL_CAMPAIGN_BUDGET" size="20" maxlenght="40"/> 		</p>
		<p><label> Nazwa: </label> <input type="text" name="nazwa" title="LBL_CAMPAIGN_NAME:" size="20" maxlenght="40"/> 					</p>
		<p><label> Kampania: </label> <select name="record_id"> 	
			{foreach from=$camps  item=camp}
				<option value="{$camp.id}"> {$camp.name}</option>	
			{/foreach}
			</select>																	</p>
	</fieldset><br />	

	<div align="center"><input type="submit" value="wyślij dane" /> </div>
</form>



